@font-face {
	font-family: 'Druk-Wide';
	src: url('../../assets/fonts/Druk-Wide-Medium.woff') format('woff'), url('../fonts/Druk-Wide-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Druk-Wide';
	src: url('../../assets/fonts/Druk-Wide-Super.woff2') format('woff2'),
		url('../../assets/fonts/Druk-Wide-Super.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Grotesk';
	src: url('../../assets/fonts/Grotesk.woff2') format('woff2'),
		url('../../assets/fonts/Grotesk.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Whiskey';
	src: url('../../assets/fonts/whiskey-sour-sans.woff2') format('woff2'),
		url('../../assets/fonts/whiskey-sour-sans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
