// Typography
// ---------------------------------

$fz-default: 16px;

$ff-main: "Druk-Wide", "Arial", sans-serif;
$ff-support: "Grotesk", "Arial", sans-serif;
$ff-whiskey: "Whiskey", "Arial", sans-serif;


// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette

$color-black-pearl: #010e0f;
$color-paradiso: #428187;
$color-transparent: #ffffff00;


// Viewports
// ---------------------------------

$vp-320: 20em;
$vp-375: 23.44em;
$vp-768: 48em;
$vp-940: 58.75em;
$vp-1024: 64em;
$vp-1160: 72.5em;
$vp-1280: 80em;
$vp-1366: 85.38em;
$vp-1440: 90em;
$vp-1600: 100em;
$vp-1681: 105.06em;
$vp-1920: 120em;
$vp-2100: 131.25em;
$vp-2400: 150em;
$vp-2600: 162.63em;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;